.Row{
    padding:1rem;
    margin-bottom:2rem;
}

.TopSection{
    padding-bottom: 1rem;
    display:flex;
    justify-content: space-between;
}

.Title{
    font-size: 2rem;
    font-weight: bold;
}