.Container{
    width: 100%;
}

.Header{
    background-image: url('/assets/images/book.jpg');
    height: 25vh;
    display:flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.HeaderBackground{
    position: absolute;
    width:100%;
    height:100%;
    background-color: var(--light-color);
    opacity:0.4;
}

.CategoryTitle{
    z-index: 100;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
}

.ToolBar{
    padding:1rem;
}

.Body{
    padding:1rem;
}