.Category{
    padding:1rem;
}

.CategoryHeader{
    border-bottom: 1px solid var(--border-light-color);
    padding: 15px;
}

.CategoryItem > div{
    background-color: var(--border-light-color) !important;
    padding:1rem;
    border-radius: 10px;
}

.CategoryItem{
    background-color: var(--border-light-color) !important;
    margin-bottom:1rem !important;
    border-radius: 10px !important;
}