.Container{
    font-weight: bold;
    padding: 3rem 1rem;
}

.InnerContainer{
    padding: 1.5rem;
    background-color: var(--border-light-color);
    border-radius: 10px;
}

.Header{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.Title{
}

.Point{
    color : var(--primary-color)
}