.PageTitle{
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.Container{
    padding: 1rem;
    max-width: 1000px;
}

.AddButtonContainer{
    padding: 1rem 0;
}

.AddressPaper{
    max-width:500px;
    padding: 1rem;
}

.Title{
    font-weight: bold;
}