.Container{
    margin:1rem 0rem;
}

.PageTitle{
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.Table{
    width:100%;
    box-sizing: content-box;
    border:1px solid var(--light-color);
    border-collapse: collapse;
    margin-top: 1.5rem;
}

.Table td{
    padding: 2rem 1rem;
    border-bottom: 1px solid var(--light-color);
}

.Table tr td:last-child{
    text-align: right;
}


.Title{
    font-weight:bold;
    font-size: 1.1rem;;
}

.Container button{
    min-width: 70px;
    padding:5px 5px;
}