.UL{
    list-style: none;
    padding:0;
    padding-left:7px;
    margin:10px 0 10px 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.Title{
    font-weight: bold;
    font-size: 1.1rem;
}

.Container{
    padding-top:1rem;
    border-top:1px solid var(--border-light-color);
}

.Container a{
    cursor:pointer;
}

.Contact_Container{
    border-top:1px solid var(--border-light-color);
    display:flex;
    justify-content: center;
}

.ContactIcon{
    display:flex;
    align-items: center;
    padding: 10px;
}

.ContactIcon svg{
    padding-right:5px;
}

.CopyRight{
    margin-top:2rem;
    margin-bottom:2rem;
    font-weight:600;
    font-size: 0.9rem;
}

.CopyRight a{
    font-style: oblique;
    color:grey;
}